*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
ul, li{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1570px;
}
.default-title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: #FF103B;
}
.default-title span{
  color: black;
}